In [1]:
-- Calculate the net amount as amount + fee
SELECT transaction_date, amount + CAST(fee AS integer) AS net_amount 
FROM transactions;

SyntaxError: invalid syntax (<ipython-input-1-f7ee39449ca8>, line 1)

In [ ]:
-- Change the type of firstname
ALTER TABLE professors
ALTER COLUMN firstname
TYPE varchar(64);

In [ ]:
-- Convert the values in firstname to a max. of 16 characters
ALTER TABLE professors 
ALTER COLUMN firstname 
TYPE varchar(16) 
USING SUBSTRING(firstname FROM 1 FOR 16);

In [ ]:
-- Disallow NULL values in firstname
ALTER TABLE professors 
ALTER COLUMN firstname SET NOT NULL;

In [ ]:
-- Disallow NULL values in lastname
ALTER TABLE professors
ALTER COLUMN lastname
SET NOT NULL;

In [ ]:
-- Make universities.university_shortname unique
ALTER TABLE universities
ADD CONSTRAINT university_shortname_unq UNIQUE(university_shortname);

In [ ]:
-- Make organizations.organization unique
ALTER TABLE organizations
ADD CONSTRAINT organization_unq UNIQUE(organization)

In [13]:
from collections import Counter

lista = [1,1,12,22,2,2,2,3]

lista_c = Counter(lista)

print(lista_c)

Counter({2: 3, 1: 2, 12: 1, 22: 1, 3: 1})

In [24]:
from collections import Counter

lista = [1,1,2,2,3,3,3,35,5,55,43]

lista_c = Counter(lista)

print(lista_c)

Counter({3: 3, 1: 2, 2: 2, 35: 1, 5: 1, 55: 1, 43: 1})